:root {
  --main-background-color: #ffffff;
  --main-text-color: #434455;
  --secondary-text-color: #4d5ae5;
  --main-title-color: #2e2f42;
  --secondary-title-color: #ffffff;
  --button-bg-color: #f4f4fd;
  --list-color: #404bbf;
  --color-line: #e7e9fc;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);

  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.02em;
}
.list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0px;
}
.section-title {
  color: var(--main-title-color);
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.no-section {
  padding-top: 0;
  padding-bottom: 0;
}
.contaner {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Header */
.header-line {
  border-bottom: 1px solid var(--color-line);
}
.nav-contaner {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--secondary-text-color);

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}
.logo .logo-w {
  color: var(--main-title-color);
}

/* Navigation */
.nav-list {
  display: flex;
  margin-left: 76px;
}
.nav-list .nav-item:not(:last-child) {
  margin-right: 40px;
}
.nav-list .nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--main-title-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--list-color);
}
.nav-address {
  font-style: normal;
  margin-left: auto;
}
.addr-list {
  display: flex;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.addr-list .addr-item + .addr-item {
  margin-left: 40px;
}
.addr-list .address-link {
  color: var(--main-text-color);

  text-decoration: none;
}
.addr-list .address-link:hover,
.addr-list .address-link:focus {
  color: var(--list-color);
}

/* Hero */
.section.hero {
  max-width: 1440px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  background-color: var(--main-title-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  margin-bottom: 48px;

  color: var(--main-background-color);

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;

  background-color: var(--secondary-text-color);
  color: var(--secondary-title-color);

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;
}

/* Section skills */
.section-title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.section-title.transparent {
  display: none;
}
.skills-list {
  display: flex;
}
.skills-list .skills-item:not(:last-child) {
  margin-right: 24px;
}
/* .skills-item {
  background-size: 264px 112px;
}
.skills-item.strategy-icom {
  background-image: url(../images/icon-strategy.svg);
}
.skills-item.punctuality-icom {
  background-image: url(../images/icon-punctuality.svg);
}
.skills-item.diligence-icom {
  background-image: url(../images/icon-diligence.svg);
}
.skills-item.technologies-icom {
  background-image: url(../images/icon-technologies.svg);
} */
.pro-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

/* Section works */
.section-works {
  padding-top: 0;
  padding-bottom: 120px;
}
.work-list {
  display: flex;
}
.work-list .work-item:not(:last-child) {
  margin-right: 24px;
}
.img-work {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Section team */
.section-team {
  padding-top: 120px;
  padding-bottom: 120px;

  background-color: var(--button-bg-color);
}
.team-list {
  display: flex;
}
.team-list .team-item:not(:last-child) {
  margin-right: 24px;
}
.team-item {
  margin: 0;
}
.img-team {
  display: block;
  max-width: 100%;
  height: auto;
}
.team-blok {
  padding-top: 32px;
  padding-bottom: 32px;

  background-color: var(--main-background-color);

  border-radius: 0px 0px 4px 4px;
}
.card-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.about-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

/* Portfolio */
.section.port-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.buttons-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
}
.buttons-list .buttons-item:not(:last-child) {
  margin-right: 24px;
}
.button {
  display: inline-block;
  padding: 12px 24px;

  background-color: var(--button-bg-color);
  color: var(--secondary-text-color);
  border: 1px solid var(--color-line);
  border-radius: 4px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;

  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--secondary-text-color);
  color: var(--main-background-color);
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
}
.projects-item {
  margin-right: 24px;
  margin-bottom: 48px;
}
.projects-item:nth-child(3n) {
  margin-right: 0;
}
.projects-item:nth-child(n + 6) {
  margin-bottom: 0;
}
.img-projects {
  display: block;
  max-width: 100%;
  height: auto;
}
.project-work {
  padding: 32px 0px 32px 16px;
  border: 1px solid var(--color-line);
}
.works-title {
  /* margin-top: 32px; */
  margin-bottom: 8px;

  color: var(--main-title-color);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
}
.pro-text {
  /* margin-bottom: 32px; */

  color: var(--main-text-color);

  font-size: 16px;
  line-height: 1.5;
}

/* Footer */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--main-title-color);
}
.logo .logo-stud {
  color: var(--button-bg-color);
}
.foot-text {
  width: 264px;
  margin-top: 16px;

  color: var(--main-background-color);

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
